<div class="index">
  <h1><a href="/" class="top">メモ</a></h1>
  <a href ="/new" class="action new">new</a>
</div>
<ul>
  <% @titles.zip(@ids).each do |title, id| %>
    <li><a href= <%= "/#{id}" %> ><%= title %></a></li>
  <% end %>
</ul>
