<h1><a href="/" class="top">メモ</a></h1>
<form method="post" action="/new">
  <textarea name="body"></textarea>
  <div class="single_button">
    <input type= "submit" value="post" class="action button">
  </div>
</form>
