<h1><a href="/" class="top">メモ</a></h1>

  <form method="post" action="/edit?_method=patch">
    <textarea name="body"><%= @memo %></textarea>
      <input type="hidden" value="<%= @id %>" name="id">
      <div class="buttons">
      <input type= "submit" value="edit" class="action button">
    </form>
    <form method="post" action="/delete?_method=delete">
      <input type="hidden" value="<%= @id %>" name="id">
      <input type= "submit" value="delete" class="action button">
      </div>
  </form>
</div>
